$light-grey: #CCCCCC;
$grey: #999999;
$dark-grey: #666666;
$almost-black: #4D4D4D;
$yellow: rgb(250,223,97);
$sky-blue: #3498DB;
$fb-blue: #3561C4;
$irish-green: #14DBAD;
$light-irish-green: #1eeabb;
$grey-blue: #33485F;
$bright-blue: #3498DB;
$dark-blue: #2B3D52;
$lightest-grey: #F5F6F7;
$electric-green: #44BFA3;
