body{
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


h1{
 font-size: 28px;
}

.bold{
  font-weight: 700;
}

.top-spacer{
  margin-top: 24px;
}
.bottom-spacer{
  margin-top: 24px;
}
