.modal-dialog{
  width: 350px;
}

.modal-content{
  border-radius: 0;
  border: none;
}

.modal-header{
  background-color: $sky-blue;
  text-align: center;
  color: white;
  text-transform: uppercase;
  height: 70px;
  padding: 10;
  margin: 0;
  box-sizing: border-box;
}

.modal-header .close{
  color: #FFF;
  opacity: 1;
}

.modal-footer{
  height: 50px;
  box-sizing: border-box;
}
