.challenge-content{
  background-color: $dark-blue;
  padding-top: 65px;
  min-height: 100vh;
}

.challenge-container{
  max-width: 1200px;
  width: 90%;
  // TODO: vertical center
  margin: 7vh auto;
}

.challenge-container h1{
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 36px;
}

.challenges-sub-heading{
  text-align: center;
  color: #999;
  font-size: 16px;
  margin-bottom: 50px;

}