.repl_container{
  padding-top: 65px;
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  color: $almost-black;
  min-height: 540px;
}

.repl_container h4{
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}

.left-pane{
  position: relative;
  display: inline-block;
  width: 40%;
}

.task-header{
  height: 33px;
  padding: 5px 25px;
  border-bottom: 1px solid $light-grey;
  font-size: 14px;
  font-weight: 700;
}

.task-footer{
  position: relative;
  z-index: 2;
  height: 50px;
  background-color: #E8EBEE;
}

.input-constraints-label{
  font-style: italic;
}

.header-left{
  text-transform: uppercase;
  color: $bright-blue;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  padding: 5px 30px;
  font-weight: 700;
}


.task-description{
  height: calc(100% - 83px);
  font-size: 16px;
  padding: 20px 20px;
  font-weight: 400;
  overflow-y: scroll;
}
.io-list{
  list-style: disc;
  margin-left: 25px;
}


.right-pane{
  position: relative;
  display: inline-block;
  background-color: $blue-steel;
  border-left: 4px solid #000;
  width: 60%;
}

.header-right
 .file-name{
  text-transform: uppercase;
  color: #fff;
}

.header-right .reset{
  color: $dark-grey;
  cursor: pointer;
}
.header-right .reset:hover{
  color: $grey;
}

.tests{
  height: calc(100% - 383px);
  border-top: 1px solid $cobalt;
}
.tests-nav-bar{
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  display: flex;
}

.tests-nav-bar li{
  margin-right: 20px;
  height: 33px;
  padding: 0 5px;
}
.tests-nav-bar li.selected{
  border-bottom: 2px solid $electric-green;
}

.bottom-bar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.right-footer{
  background-color: rgb(44, 56, 70);
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.code-submit-btn{
  background-color: $electric-green;
  padding: 3px 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.test-failed{
  color: $fire-orange;
  float: right;
  font-size: 20px;
  padding-top: 5px;
  display:none;
}

.failed .test-failed{
  display: block;
}
