.tests-container{
  overflow: scroll;
  height: 100%;
  padding: 20px;
}

.test-container{
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  color: #fff;
  margin-bottom: 20px;
}

.test-title{
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;

}

.test-results{
  display: none;
  padding-bottom: 20px;
}

.test-results tr{
  vertical-align: top;
}
.expanded .test-results{
  display: block;
}

.toggle-test{
  margin-right: 10px;
  transform: rotate(0deg);
  transition: transform .3s;
}

.expanded .toggle-test{
  transform: rotate(90deg);
}

.test-results td:nth-of-type(2n-1){
  color: $sky-blue;
  padding-right: 15px;
}

.data-group{
  border-top: 6px solid rgba(0,0,0,0);
}

.user-output{
  color: $fire-orange
}
.expected-output{
  color: $sunset-orange
}

.test-message{
  padding: 10px 10px;
}

.error-message{
  color: $fire-orange;
}

.passing-message{
  color: $electric-green;
}

.passing-message .test-passed{
  margin-right: 10px;
  top: -2px;
}

.failing-message{
  color: $fire-orange;
}

.test-message .glyphicon-alert{
  font-size: 18px;
  margin-right: 10px;
}

.test-passed{
  color: rgb(46, 45,64);
  background-color: $electric-green;
  margin-top: 4px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  padding: 5px;
}

.test-title .test-passed{
  float: right;
  display: none;
}
.passed .test-passed{
  display: block;
}
