.tests-container{
  overflow: scroll;
  height: 100%;
  padding: 20px;
}

.test-container{
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  color: #fff;
  margin-bottom: 20px;
}

.test-title{
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;

}

.test-results{
  display: none;
  padding-bottom: 20px;
}

.test-results tr{
  vertical-align: top;
}
.expanded .test-results{
  display: block;
}

.toggle-test{
  margin-right: 10px;
  transform: rotate(0deg);
  transition: transform .3s;
}

.expanded .toggle-test{
  transform: rotate(90deg);
}

.test-results td:nth-of-type(2n-1){
  color: $sky-blue;
  padding-right: 15px;
}

.data-group{
  border-top: 6px solid rgba(0,0,0,0);
}

.user-output{
  color: $fire-orange
}
.expected-output{
  color: $sunset-orange
}

.error-message{
  color: $fire-orange;
  padding: 5px 10px;
}

.error-message .glyphicon{
  margin-right: 5px;
}
