.nav-item-container{
  padding: 10px;
  position: relative;
}
.nav-item{
  position: relative;
  height: 200px;
  width: 100%;
  top: 0;
  transition: .3s ease top;
}
.nav-item:hover{
  top: -4px;
}

.nav-item-top{
  padding: 30px;
  height: 130px;
  display: flex;
  align-items: flex-start;
}

.nav-item-container:nth-of-type(1) .nav-item-top{
  background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);
}

.nav-item-container:nth-of-type(2) .nav-item-top{
  background: #A445FF linear-gradient(136.51deg, #5599E8 0%, #9258FA 77.64%, #9951FC 86.04%, #9F4AFE 94.19%, #A445FF 100%);
}
 .nav-item-container:nth-of-type(3) .nav-item-top{
  background:#FF478B linear-gradient(55.93deg, #8525F1 0%, #FF478B 100%);
}
 .nav-item-container:nth-of-type(4) .nav-item-top{
  background: #FF21D1 linear-gradient(to bottom right, #FF7400 0%, #FF21D1 100%)
}

.nav-item h1{
  margin: 0;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #0a0;
}

.nav-item-image{
  width: 115px;
}

.nav-item-description{
  margin-left: 20px;
  color: #fff;
  margin-right: 15%;
}

.nav-item-description p{
  margin-top: 7px;
  padding-right: 10px;
}

.nav-item-data-container{
  padding-right: 30px;
  padding-top: 10px;
  background-color: #fff;
  height: 70px;
  text-transform: uppercase;
  color:$almost-black;
}

.nav-item-data{
  margin-left: 170px;
}

.progress-bar-outer{
  height: 8px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: $light-grey;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  margin-right: 15%;
  width: 100%;
  overflow: hidden;
}

.progress-bar-inner{
  background-color: $electric-green;
  height: 100%;
  border-radius: 8px;
}
